DATABASE_URL="file:./dev.db"
ANTHROPIC_API_KEY=sk-ant-XXXXXXXXX
CLAUDE_MODEL=claude-sonnet-4-6
ESP32_DOOR_URL=http://172.20.10.3
ESP32_SORTER_URL=http://172.20.10.4
PORT=3001
NODE_ENV=development
JWT_SECRET=ecoardace-secret-hackaton-2026
